* {
    box-sizing: border-box;
  }

form {
  margin: auto;
}

header {
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) ), url(images/bg1.jpg);
  background-size: cover;
  background-position: 15% 0%;
  background-attachment: scroll;
  padding: 20px 0;
  box-shadow: 0 0 10px black;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color:#F1C0B1;
  /*color: #0B4863; */
  color: white;

}

h3 {
  color:  #0B4863;
  font-weight: bold;
  font-size:16px;

}

.resultbody {
  color:  #0B4863;
  font-size: 12px;
}


footer {
  background: linear-gradient( to bottom, rgba(213, 102, 75, 0.35), rgba(213, 102, 75, 0.2) );
}

.news {
  color:  #0B4863;
}

.banner {
  text-align:right;
}


.example {
  padding: 25px;
  background: linear-gradient( to bottom, rgba(213, 102, 75, 0.35), rgba(213, 102, 75, 0.2) );
  text-shadow: none;
  color: white;
  float:left;
}

#definition {
  vertical-align: middle;
  width: 75%; 
  text-align:left;
}

#itc_icon {
  height: 40px;

}

#copyright {
  vertical-align: middle;
  float: right;
  font-size: 18px;
  color: #0B4863;
  text-align: right;

}

iframe {
  overflow:auto;
}

.example_search {
  text-align: center;
  padding-top: 30px;
  color: white;
  text-shadow: 0 0 3px #555555;
  font-size: 28px;
  font-weight: 200;
  transition: color 0.25s linear, text-shadow 0.25s linear;
}

.fa-search {
   color: #BEB968
}

.fa-angle-double-down, .fa-angle-double-up {
  font-size: 23px !important;
  color: #0B4863;
  /*text-shadow: 0 0 3px #555555;; */
  position: relative;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.tagline {
  margin-bottom: 10px;
  line-height: 40px;
  color: white;
  text-shadow: 0 0 3px #777777;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}

#instruction {
  font-weight: 50;
  font-size:24px;
  padding-bottom: 20px;
  text-shadow: 0 0 3px #777777;

}


#logo {
  border-style:outset;
  border: 3px solid  #9BAA37;
  background-color: #BEB968;
  padding: 15px;
  margin-top:10px;
  margin-right:4px;
  /*color: #0B4863; */
  color: white;
  float: left;
}



.fa-kiwi-bird:before {
  content: "\f535";
}


.boxshadow {
  box-shadow: 1px 1px 5px #777777; 
  background-color:white;
  padding-bottom: 3%;

}

.js-search-form {
  margin-left: auto;
  margin-right:auto;
}


.overviewdetail {
  float: left;
}

.boxtitle {
  border-style:outset;
  border-width: 2px;
  border-color: #9BAA37;
  background-color: #BEB968;
  padding-top:3%;
  padding-bottom: 3%;
}
.title_style {
  text-decoration: none;
  padding: 5px 20px;
  display: block;
  text-align:right;

}   

.myVideo {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.videoItem {
  padding-bottom: 8%;
  border-bottom: 1px inset #0B4863;
  
}

.news {
  padding-bottom: 8%;
  border-bottom: 1px inset #0B4863;
 
}
.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.js-itemid {
  display:none;
}

.results {
  margin: 10%;
  padding-top:3%;
}

.dataItem {
  color: #0B4863;
}
.js-author {
  margin-bottom: 5px;
}
.js-authorname {
  font-weight: bold;
}

.js-desc {
  margin-bottom: 10px;
}

input {
  border: none;
  border-bottom: 3px solid ghostwhite;
  border-radius: 0px;
  padding: 8px 0;
  color: lawngreen;
  -webkit-font-smoothing: antialiased;
  font-size: 28px;
  background: none;
  width: 500px;
}


@media only screen and (min-height: 450px) {
header {
    height: 100vh;
}
}
  
@media only screen and (max-width: 767px) {
header {
    padding: 10px;
}
}